body {
    width: 90%;
    margin: auto;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

hr {
    opacity: 50%;
}

a {
    color: rgb(0, 150, 255);
    font-weight: bold;
    font-style: italic;
}

.main-div {
    background-color: rgb(245, 200, 150);
    padding: 10px;
}

.btn {
    padding: 5px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
}

.credit {
    font-weight: bold;
    font-style: italic;
}